.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(md) {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.page-hero {
    background-size: cover;
    position: relative;
    background-image: url(".image/photo.jpeg");
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(00, 00, 00, 0.2);
    }
    .page-hero-content {
        min-height: 336px;
        h1, h2, p {
            text-shadow: 0 2px 4px rgba(0,0,0,0.5);
            color: white;
        }
    }
}

h2 {
    font-weight: 900;
}